# Endpoint processing the live requests
AISTUDIO_BASE_URL=wss://generativelanguage.googleapis.com/ws/google.ai.generativelanguage.v1beta.GenerativeService.BidiGenerateContent

# GEMINI API KEY
AISTUDIO_API_KEY=